.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container input,
.container textarea,
.container select {
  padding: 20px;
  background-color: var(--bgSoft);
  border: none;
  border-radius: 5px;
  color: var(--text);
}

.container button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  border: none;
  border-radius: 5px;
  color: --text;
  font-weight: bold;
}

.container input::-webkit-file-upload-button {
  color: white;
  background-color: var(--bg);
  border: 1px outset white;
  padding: 5px 20px;
}

.container input::-webkit-file-upload-button:hover {
  background-color: white;
  color: var(--bg);
  border: 1px inset var(--bg);
}
